DATABASE_URL="postgresql://postgres.xxxx:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
NEXTAUTH_SECRET="OaIndoSystem2025SecretKeyXYZ789"
NEXTAUTH_URL="https://your-app.vercel.app"
WECOM_WEBHOOK_URL=""
